*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: grey;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #560d0d;
    color: white;
    margin-top: 20%;
    padding: 5px;
    text-align: center;
    background-color: #000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .7);
    color: #fff

}
.sidebar{
    border: solid 1px;
    color: grey;
}

.container {
    padding-top: 10%;
    padding-bottom: 10%;
    display:table;
    height:800px;
    width:100%;
}


.container > div{
    display:table-row;
}

.nav {
    
    font-size: 15px;
}
.navbar.navbar-inverse {
    background-color: #000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .7);
    color: #fff
}
.navbar-header{
    color: white;
}

.logo {
    height: 30px;
    width: 30px;
}

#ui-datepicker-div {display: none;}